<?xml version="1.0" ?>

<!DOCTYPE config [
  <!ELEMENT config (hub+, ihubpass*)>
  <!ELEMENT hub	(name, cid, maxpacketsize?, 
	startBufferSize?, readSize?, port+, interport*, interconnect*)>
  <!ELEMENT startBufferSize (#PCDATA)>
  <!ELEMENT readSize (#PCDATA)>
  <!ELEMENT maxpacketsize (#PCDATA)>
  <!ELEMENT name (#PCDATA)>
  <!ELEMENT cid (#PCDATA)>
  <!ELEMENT port (#PCDATA)>
  <!ELEMENT interport (#PCDATA)>
  <!ELEMENT interpass (#PCDATA)>
  <!ELEMENT interconnect (host, port)>
  <!ELEMENT host (#PCDATA)>
  <!ELEMENT port (#PCDATA)>
]>

<config>
	<hub>
		<name>-= qhub =-</name>
		<cid>FQI2LLF4K5W3Y</cid>
		<maxpacketsize>65536</maxpacketsize>
		<port>9001</port>
		<interport>9000</interport>
	</hub>
</config>

